body {
  height: 100vh;
  background-color: black;
}

.bgr {
  background-image: url(/images/615830.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

li {
  height: 30vh;
  flex-grow: 1;
  list-style: none;
  padding: 1px;
}

li:last-child {
  flex-grow: 10;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
}

.photo-card {
  height: 100%;
  width: 100%;
  position: relative;
  // padding: 1px;

  background-color: black;
}

.stats {
  position: absolute;
  bottom: 0;

  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  opacity: 0.5;
}

.buttonLoadMore {
  height: 100%;
  width: 100px;
  border: 2px solid white;
  border-radius: 30px;
  background-image: url(/images/arrow.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin: 0;

  background-color: white;
  opacity: 0.7;
}

.buttonLoadMore:hover {
  cursor: pointer;
}

.search-form {
  width: 500px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.search-input {
  width: 100%;
}
